.tosmall-box-icon {
	position: absolute;
	height: 93.58%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 4.42%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.tosmall-text-icon {
	position: absolute;
	top: 9px;
	left: 79px;
	width: 512px;
	height: 197px;
	object-fit: cover;
}
.tosmall {
	position: absolute;
	height: 19.07%;
	width: 36.46%;
	top: 4.07%;
	right: 12.19%;
	bottom: 76.85%;
	left: 51.35%;
}
.home-icon {
	position: absolute;
	top: 20px;
	left: 60px;
	width: 705px;
	height: 426px;
	object-fit: cover;
}
.pic-icon {
	position: absolute;
	top: 475px;
	left: 55px;
	width: 714px;
	height: 527px;
	object-fit: cover;
}
.navi-bigbox-icon {
	position: absolute;
	top: 11.58px;
	left: 0px;
	width: 468px;
	height: 204.4px;
	object-fit: cover;
}
.navi-bigtext-icon {
	position: absolute;
	top: 0px;
	left: 72px;
	width: 253.9px;
	height: 216.1px;
	object-fit: cover;
}
.navi {
	position: absolute;
	top: 631px;
	left: 1092px;
	width: 468px;
	height: 216.1px;
}
.useguide-box-icon {
	position: absolute;
	height: 220px;
	width: 724px;
	top: -10%;
	right: 0%;
	bottom: 20%;
	left: 0%;
	overflow: hidden;
	object-fit: cover;
}
.useguide-text-icon {
	position: absolute;
	height: 91.7%;
	width: 71.67%;
	top: 8.3%;
	right: 15.61%;
	bottom: 0%;
	left: 12.71%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide {
	position: absolute;
	height: 18.95%;
	width: 36.46%;
	top: 30.28%;
	right: 12.71%;
	bottom: 50.77%;
	left: 50.83%;
}
.homepage-big {
	width: 100%;
	position: relative;
	background-color: #f6f0ea;
	height: 1080px;
}

