.home-icon {
    position: absolute;
    top: 160px;
    left: 786px;
    width: 408px;
    height: 290px;
    object-fit: cover;
}
.btext-box-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 490px;
    height: 140px;
    object-fit: cover;
}
.btext-icon {
    position: absolute;
    top: 16.33px;
    left: 41.51px;
    width: 406.8px;
    height: 123.7px;
    object-fit: cover;
}
.btext {
    position: absolute;
    top: 199px;
    left: 1291px;
    width: 490px;
    height: 140px;
}
.car-icon {
    position: absolute;
    top: 383px;
    left: 727px;
    width: 526px;
    height: 391px;
    object-fit: cover;
}
.navi-box-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 560.3px;
    height: 150px;
    object-fit: cover;
}
.navi-text-icon {
    position: absolute;
    top: 0px;
    left: 11px;
    width: 538px;
    height: 171px;
    object-fit: cover;
}
.navi {
    position: absolute;
    top: 821px;
    left: 710px;
    width: 560.3px;
    height: 171px;
}
.guide-box-icon {
    position: absolute;
    height: 83.83%;
    width: 100%;
    top: 4.79%;
    right: 0%;
    bottom: 11.38%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.guide-text-icon {
    position: absolute;
    height: 100%;
    width: 82.86%;
    top: 0%;
    right: 8.57%;
    bottom: 0%;
    left: 8.57%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.useguide {
    position: absolute;
    top: 350px;
    left: 1291px;
    width: 490px;
    height: 140px;
}
.homepage {
    width: 100%;
    position: relative;
    background-color: #f6f0ea;
    height: 1080px;
    overflow: hidden;
}

