.f5-icon {
	position: absolute;
	height: 19.03%;
	width: 14.88%;
	top: 45.05%;
	right: 74.42%;
	bottom: 35.92%;
	left: 10.7%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.map {
	position: absolute;
	height: 50.46%;
	width: 27.69%;
	top: 35.56%;
	right: 5.13%;
	bottom: 13.98%;
	left: 67.18%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.btext-box-icon {
	position: absolute;
	height: 98.5%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 1.5%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.btext-text-icon {
	position: absolute;
	height: 93.73%;
	width: 73.21%;
	top: 6.26%;
	right: 12.65%;
	bottom: 0.01%;
	left: 14.14%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.btext {
	position: absolute;
	height: 14.19%;
	width: 27.82%;
	top: 13.22%;
	right: 5%;
	bottom: 72.6%;
	left: 67.18%;
}
.useguide-box-icon {
	position: absolute;
	height: 98.82%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 1.18%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide-text-icon {
	position: absolute;
	height: 93.63%;
	width: 73.62%;
	top: 6.32%;
	right: 12.25%;
	bottom: 0.05%;
	left: 14.14%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide {
	position: absolute;
	height: 14.96%;
	width: 29.47%;
	top: 80.6%;
	right: 38.62%;
	bottom: 4.44%;
	left: 31.91%;
}
.start-box-icon {
	position: absolute;
	height: 92.3%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 7.7%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.start-text-icon {
	position: absolute;
	height: 93.96%;
	width: 77.85%;
	top: 5.99%;
	right: 12.63%;
	bottom: 0.05%;
	left: 9.52%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.start {
	position: absolute;
	height: 13.95%;
	width: 28%;
	top: 28.15%;
	right: 39.84%;
	bottom: 57.89%;
	left: 32.16%;
}
.arrive-box-icon {
	position: absolute;
	height: 92.44%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 7.56%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.arrive {
	position: absolute;
	height: 13.95%;
	width: 28%;
	top: 45.39%;
	right: 39.84%;
	bottom: 40.66%;
	left: 32.16%;
}
.result-box-icon {
	position: absolute;
	height: 98.35%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 1.65%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.result-text-icon {
	position: absolute;
	height: 94.02%;
	width: 83.52%;
	top: 5.99%;
	right: 12.23%;
	bottom: -0.01%;
	left: 4.25%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.result {
	position: absolute;
	height: 14.56%;
	width: 28.57%;
	top: 63.54%;
	right: 39.19%;
	bottom: 21.91%;
	left: 32.24%;
}
.pic1-icon {
	position: absolute;
	height: 7.81%;
	width: 2.29%;
	top: 24.08%;
	right: 67.85%;
	bottom: 68.1%;
	left: 29.87%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.pic2-icon {
	position: absolute;
	height: 7.27%;
	width: 2.96%;
	top: 40.48%;
	right: 67.85%;
	bottom: 52.25%;
	left: 29.2%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.pic3-icon {
	position: absolute;
	height: 7.86%;
	width: 3.15%;
	top: 58.42%;
	right: 67.85%;
	bottom: 33.72%;
	left: 29%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.pic-icon {
	position: absolute;
	height: 48.18%;
	width: 5.11%;
	top: 30.81%;
	right: 34.09%;
	bottom: 21.01%;
	left: 60.8%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: contain;
}
.home-icon {
	position: absolute;
	top: 37px;
	left: 15px;
	width: 572px;
	height: 181px;
	object-fit: cover;
}
.navi {
	width: 100%;
	position: relative;
	background-color: #f6f0ea;
	height: 1080px;
}

