.pic-1-icon {
	position: absolute;
	height: 8.89%;
	width: 2.53%;
	top: 19.91%;
	right: 90.76%;
	bottom: 71.2%;
	left: 6.72%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.pic-3-icon {
	position: absolute;
	height: 8.7%;
	width: 3.54%;
	top: 66.11%;
	right: 90.37%;
	bottom: 25.19%;
	left: 6.09%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.stext-box-icon {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.stext-text-icon {
	position: absolute;
	height: 83.09%;
	width: 71.05%;
	top: 10.89%;
	right: 14.39%;
	bottom: 6.02%;
	left: 14.56%;
	border-radius: 80.09px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.stext {
	position: absolute;
	height: 167px;
	width: 545px;
	top: 4%;
	right: 1.32%;
	bottom: 80.11%;
	left: 67.55%;
}
.useguide-box-icon {
	position: absolute;
	height: 98.18%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 1.82%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide-text-icon {
	position: absolute;
	height: 94.55%;
	width: 73.51%;
	top: 5.45%;
	right: 12.48%;
	bottom: -0.01%;
	left: 14.01%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide {
	position: absolute;
	height: 18.36%;
	width: 34.11%;
	top: 80.94%;
	right: 53.49%;
	bottom: 0.7%;
	left: 12.4%;
}
.start-box-icon {
	position: absolute;
	height: 180px;
	width: 1920px;
	top: 43.92%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	border-radius: 55px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.start-text-icon {
	position: absolute;
	height: 57.1%;
	width: 77.89%;
	top: 0%;
	right: 12.27%;
	bottom: 42.9%;
	left: 9.84%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.start {
	position: absolute;
	height: 29.94%;
	width: 33.28%;
	top: 2.04%;
	right: 53.49%;
	bottom: 68.03%;
	left: 13.23%;
}
.pic-2-icon {
	position: absolute;
	height: 9.17%;
	width: 3.33%;
	top: 42.22%;
	right: 90.57%;
	bottom: 48.61%;
	left: 6.09%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.result-box-icon {
	position: absolute;
	height: 95.85%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0.15%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.result-text-icon {
	position: absolute;
	height: 94.46%;
	width: 83.55%;
	top: 5.52%;
	right: 11.92%;
	bottom: 0.02%;
	left: 4.53%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.result {
	position: absolute;
	height: 18.7%;
	width: 33.59%;
	top: 61.17%;
	right: 53.49%;
	bottom: 20.13%;
	left: 12.92%;
}
.arrive-box-icon {
	position: absolute;
	height: 178px;
	width: 1900px;
	top: 40%;
	right: 0%;
	bottom: 0.02%;
	left: 0%;
	border-radius: 63.89px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.arrive-text-icon {
	position: absolute;
	height: 62.58%;
	width: 73.67%;
	top: 0%;
	right: 15.48%;
	bottom: 37.42%;
	left: 10.85%;
	border-radius: 40.57px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.arrive {
	position: absolute;
	height: 30.33%;
	width: 33.59%;
	top: 27.84%;
	right: 53.49%;
	bottom: 41.82%;
	left: 12.92%;
}
.map-icon {
	position: absolute;
	height: 77.69%;
	width: 46.15%;
	top: 19.91%;
	right: 0.83%;
	bottom: 2.41%;
	left: 53.02%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.home-icon {
	position: absolute;
	top: 53px;
	left: 23px;
	width: 323px;
	height: 131px;
	object-fit: cover;
}
.navi-big {
	width: 100%;
	position: relative;
	background-color: #f6f0ea;
	height: 1080px;
	overflow: hidden;
}

