.bigtext-box-icon {
	position: absolute;
	height: 97.82%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 2.18%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.bigtext-text-icon {
	position: absolute;
	height: 93.33%;
	width: 72.99%;
	top: 6.67%;
	right: 12.69%;
	bottom: 0%;
	left: 14.32%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.bigtext {
	position: absolute;
	height: 14.02%;
	width: 25.09%;
	top: 2.13%;
	right: 1.12%;
	bottom: 83.85%;
	left: 73.79%;
}
.guide1-icon {
	position: absolute;
	height: 19.44%;
	width: 31%;
	top: 30.65%;
	right: 59.86%;
	bottom: 49.91%;
	left: 9.14%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.guide2-icon {
	position: absolute;
	height: 21.57%;
	width: 31%;
	top: 51.85%;
	right: 59.86%;
	bottom: 26.57%;
	left: 9.14%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.pic-icon {
	position: absolute;
	height: 16.2%;
	width: 8.68%;
	top: 20.46%;
	right: 48.86%;
	bottom: 63.33%;
	left: 42.47%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.guide1-2-icon {
	position: absolute;
	height: 16.39%;
	width: 38.02%;
	top: 36.67%;
	right: 22.77%;
	bottom: 46.94%;
	left: 39.21%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.guide2-2-icon {
	position: absolute;
	height: 16.57%;
	width: 37.71%;
	top: 58.52%;
	right: 22.87%;
	bottom: 24.91%;
	left: 39.42%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.next-bb-icon {
	position: absolute;
	height: 30.8%;
	width: 11.55%;
	top: 25.87%;
	right: 88.45%;
	bottom: 43.33%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: contain;
}
.next-sb-icon {
	position: absolute;
	height: 16.08%;
	width: 5.78%;
	top: 15.38%;
	right: 91.34%;
	bottom: 68.53%;
	left: 2.89%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: contain;
}
.next-text-icon {
	position: absolute;
	height: 100%;
	width: 92.61%;
	top: 0%;
	right: -0.02%;
	bottom: 0%;
	left: 7.4%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.next {
	position: absolute;
	height: 14.85%;
	width: 32.1%;
	top: 85.15%;
	right: 29.7%;
	bottom: 0%;
	left: 38.2%;
}
.home-icon {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 580px;
	height: 253px;
	object-fit: cover;
}
.how-to-use-box-icon {
	position: absolute;
	height: 99.87%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0.13%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.how-to-use-text-icon {
	position: absolute;
	height: 95.31%;
	width: 73.67%;
	top: 4.69%;
	right: 16.45%;
	bottom: 0%;
	left: 9.88%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.useguide {
	position: absolute;
	height: 13.83%;
	width: 25.88%;
	top: 2.13%;
	right: 27.29%;
	bottom: 84.04%;
	left: 46.83%;
}
.guide {
	width: 100%;
	position: relative;
	background-color: #f6f0ea;
	height: 1080px;
}

